body {
	box-sizing: border-box;
}

.logo {
	position: relative;
	left: 10px;
	height: 200px;
	width: auto;
}
iframe {
	padding: 40px 40px 0 40px;
	height: 600px;
	width: 100%;
}
.ourArtists {
	text-align: center;
	padding-top: 20px;
	border-top: 1px solid rgb(121, 121, 121);
	width: 400px;
}
i {
	font-size: 40px;
	color: grey;
	transition: 0.2s;

	&:hover {
		color: rgba(255, 192, 229, 0.795);
		transition: 0.2s;
	}
}
