.card {
	position: relative;
	border: none;
	width: 100%;
	animation: fade 0.4s linear;
	letter-spacing: 2px;
	font-family: serif;
	border-radius: 0;
	text-decoration: underline pink !important;
	color: black;
	// border: 1px solid rgb(0, 0, 0);
	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		// border: 4px solid rgba(255, 0, 0, 0.589);
		// border-radius: 50%;
		transition: 0.5s;
	}

	&:hover > img {
		filter: brightness(70%);
		transition: 0.5s;
	}
}
// 	.cardText {
// 		clip-path: polygon(0 1%, 100% 0, 100% 80%, 75% 100%, 0 100%, 0% 50%);
// 		pointer-events: none;
// 		padding: 5px 5px 10px 5px;
// 		background: rgba(255, 125, 248, 0.616);
// 		color: #ffffff;
// 		position: absolute;
// 		bottom: 20px;
// 		left: 20px;
// 	}
// 	.title {
// 		top: 20px;
// 		letter-spacing: 1px;
// 		font-weight: 500;
// 	}
// 	.downloadButton {
// 		cursor: pointer;
// 		position: absolute;
// 		font-size: 15px;
// 		font-weight: bold;
// 		top: 10px;
// 		right: 10px;
// 		background-color: #00000000;
// 		outline: none;
// 		border: 1px solid #ffffff;
// 		padding: 5px 13px 5px 13px;
// 		color: #ffffff;
// 		&:hover {
// 			background-color: #ffffff;
// 			color: black;
// 		}
// 		a {
// 			color: inherit;
// 			text-decoration: none;
// 		}
// 	}
// }
// @keyframes fade {
// 	0% {
// 		opacity: 0;
// 	}
// 	100% {
// 		opacity: 1;
// 	}
// }
