.card {
	position: relative;
	border: none;
	width: 100%;
	animation: fade 0.4s linear;
	letter-spacing: 2px;
	font-family: serif;
	border-radius: 0;
	text-decoration: underline pink !important;
	color: black;
	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		transition: 0.5s;
		&:hover {
			filter: brightness(70%);
			transition: 0.5s;
		}
	}
}
