.artistPageImg {
	top: 50px;
	height: 400px;
	width: 100%;
	object-fit: cover;
}
.socialMediaRow {
	position: relative;
	color: rgb(253, 211, 235);
	left: 10px;
}
.bio {
	border-top: 1px solid rgb(199, 199, 199);
	border-bottom: 1px solid rgb(199, 199, 199);
	padding: 80px 0px 80px 0px;
	font-size: 17px;
	font-family: "Montserrat", sans-serif;
}
.artistScreenIframe {
	height: 300px;
}
