.carouselContainer {
	height: 100vh;
	width: 100vw;
	.carousel {
		object-fit: cover;
		height: 100vh;
		overflow: hidden;
		.carousel-item img {
			width: 100vw;
			height: 100vh;
			object-fit: cover;
			object-position: 50% 50%;
			background-blend-mode: multiply;
		}
		button {
			height: 0;
			visibility: hidden;
		}
		.thumbs {
			visibility: hidden;
		}
		.carousel:after {
			min-height: 100%;
			content: "";
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: linear-gradient(rgba(0, 0, 0, 0.678), transparent);
		}
		.legend {
			background-color: rgb(255, 192, 229);
			text-shadow: 2px 2px rgba(0, 0, 0, 0.664);
			opacity: 1;
			width: 200px;
			font-size: 2em;
			padding: 20px;
			border-radius: 0;
			clip-path: polygon(
				0 1%,
				100% 0,
				100% 80%,
				75% 100%,
				0 100%,
				0% 50%
			);
		}
		.control-dots {
			position: absolute;
			left: 40%;
		}

		.carousel-status {
			visibility: hidden;
		}
	}
}

.carousel {
	.slide {
		img {
			object-fit: cover;
			height: 100vh;
			width: 100vw;
		}
	}
}
