.navbar {
	background-color: rgb(218, 92, 180) !important;
	a {
		font-family: "Economica", sans-serif;
		font-size: 2em;
		color: rgb(255, 255, 255) !important;
		&:hover {
			color: rgb(255, 255, 255) !important;
		}
	}
}
