.navbar {
	background-color: rgb(255, 151, 224) !important;
	a {
		font-family: "Economica", sans-serif;
		font-size: 2em;
		color: rgb(27, 27, 27) !important;
		&:hover {
			color: rgb(255, 255, 255) !important;
		}
	}
}
