
header {
  position: absolute;
  top: 20px;
  right: 10%;
  z-index: 3;
  //   text-shadow: 2px 2px 2px rgb(218, 22, 55);

  .navbar {
    position: absolute;
    top: 0px;
    right: 20px;
    background-color: rgba(119, 34, 34, 0) !important;

    .nav-link {
      color: white !important;
      font-size: 2rem;
      margin-left: 20px;
      &:hover {
        color: rgb(202, 202, 202) !important;
      }
    }
  }
}
.logo {
  opacity: 90%;
  position: absolute;
  z-index: 3;
  left: 40px;
  top: 40px;
  height: 200px;
  // transform: rotate(-7deg);
  transition: 0.5s;
  width: auto;
}
.navbar-toggler {
  position: relative;
  transition: 0.5s;
  border-radius: 0%;
  border: none;

  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
  }
}

/* small screens */
@media screen and (max-width: 991px) {
  .logo {
    height: 85px;
  }
  .nav-link {
    background-color: black;
    text-align: center;
    text-shadow: none;
    border: 1px solid black;
    width: 270px;
  }
}
