@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans:wght@600&display=swap");
@import "~inga-ui/index.css";
* {
  /* font-family: "Merriweather", serif !important; */
  letter-spacing: 0.5px !important;
}
#root {
  min-height: 100vh;
}
section {
  background-color: #1e212b !important;
  border-bottom: 12px solid #1e212b;
}
body {
  color: rgb(17, 17, 17);
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
}
footer {
  color: white !important;
  text-decoration: none !important;
}
form {
  margin-top: 200px;
  padding-left: 20%;
  padding-right: 20%;
}
td,
th {
  background-color: white !important;
}
.nav-link {
  text-shadow: 2px 2px 0px rgba(172, 64, 82, 0.384);
}
.title {
  text-decoration: underline pink !important;
  font-family: "Merriweather Sans", sans-serif !important;
}
.fill img:hover {
  -webkit-filter: brightness(70%);
  filter: brightness(70%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
h1 {
  width: fit-content;
  font-family: "Merriweather Sans", sans-serif !important;
}
