@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans:wght@600&display=swap");
@import "~inga-ui/index.css";
* {
  /* font-family: "Merriweather", serif !important; */
  letter-spacing: 0.5px !important;
}
#root {
  min-height: 100vh;
}
section {
  background-color: #1e212b !important;
  border-bottom: 12px solid #1e212b;
}

body {
  color: rgb(17, 17, 17);
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
}
footer {
  color: white !important;
  text-decoration: none !important;
}
form {
  margin-top: 200px;
  padding-left: 20%;
  padding-right: 20%;
}
td,
th {
  background-color: white !important;
}

.title {
  text-decoration: underline pink !important;
  font-family: "Merriweather Sans", sans-serif !important;
}
.fill img:hover {
  -webkit-filter: brightness(70%);
  filter: brightness(70%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
h1 {
  width: fit-content;
  font-family: "Merriweather Sans", sans-serif !important;
}
.recordImage {
  object-fit: contain;
}
i {
  font-size: 25px;
  color: grey;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-family: "Font Awesome 5 Brands" !important;
}
.fas {
  font-family: "Font Awesome 5 Free" !important;
}
.fas:hover {
  color: rgb(70, 70, 70);
}
i:hover {
  color: rgba(255, 255, 255, 0.795);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.contain {
  object-fit: cover !important;
}
iframe {
  position: relative !important;
  height: 600px;
  width: 100%;
}
.modal-content {
  width: 250% !important;
  right: 70% !important;
  top: 50px;
  /* border: 14px solid white; */
  background-color: black !important;
}
.close {
  border: none;
  position: absolute !important;
  z-index: 10 !important;
  left: -5px;
  top: -30px !important;
}
.fade {
  background-color: rgba(0, 0, 0, 0.678) !important;
}
.thumb:hover {
  transition: 0.3s;
  filter: brightness(120%);
}
.thumb:hover h2 {
  visibility: visible;
}
.gradientContainer .gradient .gradient:after {
  min-height: 100%;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.678)),
    to(transparent)
  );
  background: linear-gradient(rgba(0, 0, 0, 0.678), transparent);
  z-index: 99;
}
@media (max-width: 768px) {
  iframe {
    padding: 0;
    height: 400px;
  }
  .modal-content {
    width: 100% !important;
    right: 0 !important;
    top: 100px;
  }
}
